<html>
	<head>
		<title>Todas las empresas</title>
		<meta charset="UTF-8">
		<link href="{{ asset('/css/estilos.css') }}" rel="stylesheet" />
	</head>

	<body>
		<table>
			<tr>
				<td>Nombre</td>
				<td>Direccion</td>
				<td>CP</td>
				<td>Telefono1</td>
				<td>Telefono2</td>				
			</tr>
			{% for empresa in empresas %}
				<tr>
					<td>{{ empresa.nombre }}</td>
					<td>{{ empresa.direccion }}</td>
					<td>{{ empresa.cp }}</td>
					<td>{{ empresa.telefono1 }}</td>
					<td>{{ empresa.telefono2 }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>